<template>
  <v-container>
    <v-speed-dial
      v-model="state.open"
      bottom
      fixed
      right
      direction="top"
      transition="slide-x-reverse-transition"
    >
      <template #activator>
        <v-btn v-model="state.open" color="blue darken-2" dark fab>
          <v-icon v-if="state.open"> mdi-close </v-icon>
          <v-icon v-else> mdi-dots-vertical </v-icon>
        </v-btn>
      </template>
      <v-tooltip
        left
        :nudge-left="24"
        :open-on-hover="false"
        :value="true"
        transition="slide-x-reverse-transition"
      >
        <template #activator="{ on, attrs }">
          <v-btn
            @click="simulateCheckIn"
            fab
            dark
            small
            color="indigo"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-car</v-icon>
          </v-btn>
        </template>
        <span>Simulate Check In</span>
      </v-tooltip>
      <v-tooltip
        left
        :nudge-left="24"
        :open-on-hover="false"
        :value="true"
        transition="slide-x-reverse-transition"
      >
        <template #activator="{ on, attrs }">
          <v-btn
            @click="simulateCheckOut"
            fab
            dark
            small
            color="indigo"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-car-back</v-icon>
          </v-btn>
        </template>
        <span>Simulate Check Out</span>
      </v-tooltip>
    </v-speed-dial>
    <v-dialog v-model="state.dialog.in" persistent max-width="480px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Simulate Check In</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="formCheckIn" v-model="input.in.valid" lazy-validation>
            <v-text-field
              label="License"
              required
              :rules="input.in.rule.license"
              v-model="input.in.form.license"
            ></v-text-field>
            <v-select
              :items="data.colors"
              label="Color"
              ref="selectColor"
              required
              :rules="input.in.rule.color"
              v-model="input.in.form.color"
            >
              <template #selection="{ item }">
                <span class="text-capitalize">{{ item }}</span>
              </template>
              <template #item="{ item }">
                <v-chip
                  class="text-capitalize"
                  :class="item === 'white' ? 'black--text' : ''"
                  :color="item"
                  >{{ item }}</v-chip
                >
              </template>
            </v-select>
            <v-select
              :items="data.lots"
              item-text="data.name"
              item-value="key"
              label="Parking Lot"
              required
              :rules="input.in.rule.lot"
              v-model="input.in.form.lot"
            >
            </v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="randomizeCheckIn">
            Randomize
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeCheckIn">
            Close
          </v-btn>
          <v-btn color="blue darken-1" text @click="registerCheckIn">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="state.dialog.out" persistent max-width="480px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Simulate Check Out</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="formCheckOut" v-model="input.out.valid" lazy-validation>
            <v-select
              :items="checkOutCars"
              label="License"
              required
              :rules="input.out.rule.license"
              v-model="input.out.form"
            >
              <template #selection="{ item }">
                <span>{{ item.data.license }}</span>
              </template>
              <template #item="{ item }">
                <v-container class="my-4">
                  <v-row align="center">
                    <v-col class="pa-0">{{ item.data.license }}</v-col>
                    <v-chip
                      class="text-capitalize"
                      :class="item.data.color === 'white' ? 'black--text' : ''"
                      :color="item.data.color"
                      small
                    >
                      {{ item.data.color }}
                    </v-chip>
                    <v-col cols="12" class="pa-0 pt-2 text-body-2 grey--text">{{
                      `Slot ${item.data.index + 1} of ${
                        $_.find(data.lots, { key: item.data.lot }).data.name
                      }`
                    }}</v-col>
                  </v-row>
                </v-container>
              </template>
            </v-select>
            <v-select
              disabled
              :items="data.colors"
              label="Color"
              ref="selectColor"
              required
              :rules="input.out.rule.color"
              v-model="input.out.form.data.color"
            >
              <template #selection="{ item }">
                <span class="text-capitalize">{{ item }}</span>
              </template>
              <template #item="{ item }">
                <v-chip
                  class="text-capitalize"
                  :class="item === 'white' ? 'black--text' : ''"
                  :color="item"
                  >{{ item }}</v-chip
                >
              </template>
            </v-select>
            <v-select
              disabled
              :items="data.lots"
              item-text="data.name"
              item-value="key"
              label="Parking Lot"
              required
              :rules="input.out.rule.lot_key"
              :value="input.out.form.data.lot"
            >
            </v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="randomizeCheckOut">
            Randomize
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeCheckOut">
            Close
          </v-btn>
          <v-btn color="blue darken-1" text @click="registerCheckOut">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      data: {
        colors: [
          "black",
          "grey",
          "white",
          "red",
          "pink",
          "purple",
          "indigo",
          "blue",
          "cyan",
          "teal",
          "green",
          "lime",
          "yellow",
          "amber",
          "orange",
          "brown",
        ],
        lots: [],
        sessions: [],
      },
      input: {
        in: {
          form: {
            color: null,
            license: null,
            lot: null,
          },
          rule: {
            color: [(v) => !!v || "Color is required"],
            license: [(v) => !!v || "License is required"],
            lot: [(v) => !!v || "Parking Lot is required"],
          },
          valid: true,
        },
        out: {
          form: {
            data: {
              color: null,
              license: null,
              lot: null,
            },
            key: null,
          },
          rule: {
            color: [(v) => !!v || "Color is required"],
            license: [(v) => !!v || "License is required"],
            lot_key: [(v) => !!v || "Parking Lot is required"],
          },
          valid: true,
        },
      },
      state: {
        open: false,
        dialog: {
          in: false,
          out: false,
        },
      },
    };
  },

  computed: {
    checkOutCars() {
      return this.$_.filter(this.data.sessions, { data: { time_end: null } });
    },
  },

  mounted() {
    this.get();
  },

  methods: {
    closeCheckIn() {
      this.$refs.formCheckIn.reset();
      this.$nextTick(() => {
        this.state.dialog.in = false;
      });
    },

    closeCheckOut() {
      this.$refs.formCheckOut.resetValidation();
      this.input.out.form = {
        data: {
          color: null,
          license: null,
          lot: null,
        },
        key: null,
      };
      this.$nextTick(() => {
        this.state.dialog.out = false;
      });
    },

    getAvailableSlot(lot) {
      for (let index = 0; index < lot.slots.length; index++) {
        if (lot.slots[index].license == null) {
          return index;
        }
      }
      return false;
    },

    get() {
      this.$db
        .collection("lots")
        .get({ keys: true })
        .then((lots) => {
          this.$set(this.data, "lots", lots);
          this.$db
            .collection("sessions")
            .orderBy("time_start", "desc")
            .get({ keys: true })
            .then((sessions) => {
              this.$set(this.data, "sessions", sessions);
            });
        });
    },

    randomizeCheckIn() {
      const colors = this.data.colors;
      const lots = this.data.lots;
      this.input.in.form.color =
        colors[Math.round(Math.random() * (colors.length - 1))];
      this.input.in.form.license = this.$random.license();
      this.input.in.form.lot =
        lots[Math.round(Math.random() * (lots.length - 1))].key;
    },

    randomizeCheckOut() {
      const cars = this.checkOutCars;
      this.input.out.form = cars[Math.round(Math.random() * (cars.length - 1))];
    },

    registerCheckIn() {
      if (this.$refs.formCheckIn.validate()) {
        this.$db
          .collection("lots")
          .doc(this.input.in.form.lot)
          .get()
          .then((res) => {
            let lot = res;
            const index = this.getAvailableSlot(lot);
            this.$db
              .collection("sessions")
              .add({
                ...this.input.in.form,
                index: index,
                time_start: this.$moment().valueOf(),
                time_end: null,
              })
              .then((addRes) => {
                console.log("addRes", addRes);
                lot.slots.splice(index, 1, {
                  color: this.input.in.form.color,
                  license: this.input.in.form.license,
                  session: addRes.data.key,
                });
                this.$db
                  .collection("lots")
                  .doc(this.input.in.form.lot)
                  .set(lot)
                  .then(() => {
                    this.get();
                    this.closeCheckIn();
                    this.$emit("updateLots");
                  });
              });
          });
      }
    },

    registerCheckOut() {
      if (this.$refs.formCheckOut.validate()) {
        this.$db
          .collection("lots")
          .doc(this.input.out.form.data.lot)
          .get()
          .then((res) => {
            let lot = res;
            const index = this.input.out.form.data.index;
            this.$db
              .collection("sessions")
              .doc(this.input.out.form.key)
              .update({
                time_end: this.$moment().valueOf(),
              })
              .then(() => {
                lot.slots.splice(index, 1, {
                  color: null,
                  license: null,
                  session: null,
                });
                this.$db
                  .collection("lots")
                  .doc(this.input.out.form.data.lot)
                  .set(lot)
                  .then(() => {
                    this.get();
                    this.closeCheckOut();
                    this.$emit("updateLots");
                  });
              });
          });
      }
    },

    setCheckOutCar(car) {
      this.input.out.form.color = car.color;
      this.input.out.form.lot = car.lot_key;
    },

    simulateCheckIn() {
      this.state.open = false;
      this.state.dialog.in = true;
      this.get();
    },

    simulateCheckOut() {
      this.state.open = false;
      this.state.dialog.out = true;
      this.get();
    },
  },
};
</script>