<template>
  <v-app dark>
    <v-app-bar fixed app>
      <v-btn v-if="$route.path != '/'" icon @click.stop="$router.back()">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer></v-spacer>
      <v-btn icon @click.stop="$vuetify.theme.dark = !$vuetify.theme.dark">
        <v-icon>mdi-theme-light-dark</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";

export default {
  computed: {
    title() {
      return this.$store.state.title;
    },
  },

  methods: {
    ...mapActions(["toggleFilter"]),
  },
};
</script>