<template>
  <v-row>
    <v-col cols="12" class="text-h6">
      <v-container>
        <v-row>
          <span>Slots</span>
          <v-spacer></v-spacer>
          <v-dialog v-model="state.dialog.license" persistent max-width="320px">
            <template #activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon> mdi-magnify </v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>Search</v-card-title>
              <v-card-text>
                <v-text-field
                  label="License"
                  v-model="input.license"
                ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeFormLicense">
                  Close
                </v-btn>
                <v-btn color="blue darken-1" text @click="setFilterLicense">
                  Search
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-btn @click="state.filter = !state.filter" icon>
            <v-icon>{{
              state.filter
                ? "mdi-filter-remove-outline"
                : "mdi-filter-menu-outline"
            }}</v-icon>
          </v-btn>
        </v-row>
      </v-container>
    </v-col>
    <v-col
      class="d-flex align-center"
      cols="12"
      v-if="state.filter || Object.keys(input.filter).length > 0"
    >
      <span class="mr-2 mb-2">Filter:</span>
      <v-btn
        class="mr-2 mb-2 text-capitalize"
        :class="
          name == 'color' && value == 'white'
            ? 'black--text'
            : name == 'color' && value == 'black'
            ? 'white--text'
            : ''
        "
        @click="$delete(input.filter, name)"
        :color="name == 'color' ? value : ''"
        :key="name"
        :outlined="name == 'lot' ? true : false"
        rounded
        small
        v-for="(value, name) in input.filter"
      >
        <span>
          {{ value }}
        </span>
        <v-icon class="ml-1" x-small>mdi-close</v-icon>
      </v-btn>
    </v-col>
    <v-col cols="12" v-if="state.filter">
      <div class="mb-2">Color</div>
      <v-btn
        class="mr-2 mb-2 text-capitalize"
        :class="
          color == 'white'
            ? 'black--text'
            : color == 'black'
            ? 'white--text'
            : ''
        "
        @click="setFilterColor(color)"
        :color="color"
        :key="color"
        rounded
        small
        v-for="color in data.colors"
        >{{ color }}</v-btn
      >
    </v-col>
    <template v-if="data.lot && data.lot.slots && filteredSlots.length > 0">
      <v-col
        cols="12"
        sm="6"
        md="4"
        xl="3"
        :key="index"
        v-for="(slot, index) in filteredSlots"
      >
        <v-card>
          <v-card-title>
            <v-container>
              <v-row justify="space-between">
                <span
                  @click="$set(input.filter, 'license', slot.license)"
                  :class="slot.license ? 'cursor-pointer' : 'grey--text'"
                >
                  {{ slot.license || "Empty" }}
                </span>
                <v-btn
                  class="text-capitalize"
                  :class="slot.color === 'white' ? 'black--text' : ''"
                  @click="setFilterColor(slot.color)"
                  :color="slot.color"
                  rounded
                  small
                  v-if="slot.license"
                >
                  {{ slot.color }}
                </v-btn>
              </v-row>
            </v-container>
          </v-card-title>
          <v-card-text class="text-right" v-text="`SLOT ${index + 1}`" />
        </v-card>
      </v-col>
    </template>
    <v-col v-else class="grey--text">Data not found</v-col>
    <simulation-speed-dial @updateLots="getLot()" />
  </v-row>
</template>

<script>
import { mapActions } from "vuex";
import SimulationSpeedDial from "~/components/SimulationSpeedDial";

export default {
  components: {
    SimulationSpeedDial,
  },

  data() {
    return {
      data: {
        colors: [
          "black",
          "grey",
          "white",
          "red",
          "pink",
          "purple",
          "indigo",
          "blue",
          "cyan",
          "teal",
          "green",
          "lime",
          "yellow",
          "amber",
          "orange",
          "brown",
        ],
        lot: null,
      },
      input: {
        filter: {},
        license: null,
      },
      state: {
        dialog: {
          license: false,
        },
        filter: false,
      },
    };
  },

  computed: {
    filteredSlots() {
      if (this.data.lot) {
        return this.$_.filter(this.data.lot.slots, this.input.filter);
      } else {
        return [];
      }
    },
  },

  mounted() {
    this.setFilter(false);
    this.getLot();
  },

  methods: {
    ...mapActions(["setTitle", "setFilter"]),

    closeFormLicense() {
      this.state.dialog.license = false;
      this.input.license = null;
    },

    getLot() {
      this.$db
        .collection("lots")
        .doc(this.$route.params.lot)
        .get()
        .then((res) => {
          this.data.lot = res;
          this.setTitle(this.data.lot.name);
        });
    },

    setFilterColor(color) {
      this.$set(this.input.filter, "color", color);
    },

    setFilterLicense() {
      this.$set(this.input.filter, "license", this.input.license);
      this.closeFormLicense();
    },

    setFilterSlot(slot) {
      this.$set(this.input.filter, "slot", slot);
    },
  },
};
</script>