<template>
  <v-row>
    <v-col cols="12" class="text-h6">Registered Parking Lot</v-col>
    <v-col
      cols="12"
      sm="6"
      md="4"
      xl="3"
      :key="lot.key"
      v-for="lot in data.lots"
    >
      <v-card class="cursor-pointer" @click="$router.push(lot.key)">
        <v-card-title class="d-block text-truncate" v-text="lot.data.name" />
        <v-card-text
          class="text-right"
          v-text="`${getActiveSlotCount(lot)}/${lot.data.slots.length}`"
        />
      </v-card>
    </v-col>
    <v-col cols="12" sm="6" md="4" xl="3">
      <v-dialog v-model="state.dialog.lot" persistent max-width="480px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            block
            class="d-flex align-center justify-center text-h4 grey--text"
            height="102"
          >
            +
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">Register Parking Lot</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="input.lot.valid" lazy-validation>
              <v-text-field
                :counter="40"
                label="Name"
                required
                :rules="input.lot.rule.name"
                name="name"
                v-model="input.lot.form.name"
              >
              </v-text-field>
              <v-text-field
                label="Slot"
                required
                :rules="input.lot.rule.slot"
                type="number"
                v-model.number="input.lot.form.slot"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="blue darken-1" text @click="randomize">
              Randomize
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeFormLot">
              Close
            </v-btn>
            <v-btn color="blue darken-1" text @click="register"> Save </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col>
    <template v-if="activeSessions.length > 0">
      <v-col cols="12" class="text-h6">
        <v-container>
          <v-row>
            <span>Active Sessions</span>
            <v-spacer></v-spacer>
            <v-dialog
              v-model="state.dialog.license"
              persistent
              max-width="320px"
            >
              <template #activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon> mdi-magnify </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title>Search</v-card-title>
                <v-card-text>
                  <v-text-field
                    label="License"
                    v-model="input.license"
                  ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeFormLicense">
                    Close
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="setFilterLicense">
                    Search
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-btn @click="state.filter = !state.filter" icon>
              <v-icon>{{
                state.filter
                  ? "mdi-filter-remove-outline"
                  : "mdi-filter-menu-outline"
              }}</v-icon>
            </v-btn>
          </v-row>
        </v-container>
      </v-col>
      <v-col
        class="d-flex align-center"
        cols="12"
        v-if="state.filter || Object.keys(input.filter).length > 0"
      >
        <span class="mr-2 mb-2">Filter:</span>
        <v-btn
          class="mr-2 mb-2 text-capitalize"
          :class="
            name == 'color' && value == 'white'
              ? 'black--text'
              : name == 'color' && value == 'black'
              ? 'white--text'
              : ''
          "
          @click="$delete(input.filter, name)"
          :color="name == 'color' ? value : ''"
          :key="name"
          :outlined="name == 'lot' ? true : false"
          rounded
          small
          v-for="(value, name) in input.filter"
        >
          <span>{{
            name == "lot" ? $_.find(data.lots, { key: value }).data.name : value
          }}</span>
          <v-icon class="ml-1" x-small>mdi-close</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" v-if="state.filter">
        <div class="mb-2">Parking Lot</div>
        <v-btn
          @click="setFilterLot(lot.key)"
          class="mr-2 mb-2 text-capitalize"
          :key="lot.key"
          outlined
          rounded
          small
          v-for="lot in data.lots"
          >{{ lot.data.name }}</v-btn
        >
        <div class="mb-2">Color</div>
        <v-btn
          class="mr-2 mb-2 text-capitalize"
          :class="
            color == 'white'
              ? 'black--text'
              : color == 'black'
              ? 'white--text'
              : ''
          "
          @click="setFilterColor(color)"
          :color="color"
          :key="color"
          rounded
          small
          v-for="color in data.colors"
          >{{ color }}</v-btn
        >
      </v-col>
      <template v-if="filteredSessions.length > 0">
        <v-col
          cols="12"
          sm="6"
          md="4"
          xl="3"
          :key="session.key"
          v-for="session in filteredSessions"
        >
          <v-card>
            <v-card-title>
              <v-container>
                <v-row justify="space-between">
                  <span
                    class="cursor-pointer"
                    @click="$set(input.filter, 'license', session.data.license)"
                  >
                    {{ session.data.license }}
                  </span>
                  <v-btn
                    class="text-capitalize"
                    :class="session.data.color === 'white' ? 'black--text' : ''"
                    @click="setFilterColor(session.data.color)"
                    :color="session.data.color"
                    rounded
                    small
                  >
                    {{ session.data.color }}
                  </v-btn>
                </v-row>
              </v-container>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row align="center" justify="space-between">
                  <v-btn
                    class="text-capitalize"
                    @click="setFilterLot(session.data.lot)"
                    outlined
                    rounded
                    small
                    >{{
                      $_.find(data.lots, { key: session.data.lot }).data.name
                    }}</v-btn
                  >
                  <span>SLOT {{ session.data.index + 1 }}</span>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>
      </template>
      <v-col v-else class="grey--text">Data not found</v-col>
    </template>
    <simulation-speed-dial @updateLots="get()" />
  </v-row>
</template>

<script>
import { mapActions } from "vuex";
import SimulationSpeedDial from "~/components/SimulationSpeedDial";

export default {
  components: {
    SimulationSpeedDial,
  },

  data() {
    return {
      data: {
        colors: [
          "black",
          "grey",
          "white",
          "red",
          "pink",
          "purple",
          "indigo",
          "blue",
          "cyan",
          "teal",
          "green",
          "lime",
          "yellow",
          "amber",
          "orange",
          "brown",
        ],
        lots: [],
        sessions: [],
      },
      input: {
        filter: {},
        license: null,
        lot: {
          form: {
            name: null,
            slot: 20,
          },
          rule: {
            name: [
              (v) => !!v || "Name is required",
              (v) =>
                (v && v.length <= 40) || "Name must be less than 40 characters",
            ],
            slot: [(v) => !!v || "Slot is required"],
          },
          valid: true,
        },
      },
      state: {
        dialog: {
          license: false,
          lot: false,
        },
        fab: false,
        filter: false,
      },
    };
  },

  computed: {
    activeSessions() {
      return this.$_.filter(this.data.sessions, { data: { time_end: null } });
    },

    filteredSessions() {
      return this.$_.filter(this.activeSessions, { data: this.input.filter });
    },
  },

  mounted() {
    // this.setTitle("Parking Lots");
    this.$store.dispatch("setTitle", "Parking Lots");
    this.get();
  },

  methods: {
    ...mapActions(["setTitle"]),

    closeFormFilter() {
      this.state.dialog.filter = false;
    },

    closeFormLicense() {
      this.state.dialog.license = false;
      this.input.license = null;
    },

    closeFormLot() {
      if (this.$refs.form) {
        this.$refs.form.reset();
      }
      this.$nextTick(() => {
        this.input.lot.form.slot = 20;
        this.state.dialog.lot = false;
      });
    },

    get() {
      this.$db
        .collection("lots")
        .get({ keys: true })
        .then((lots) => {
          this.$set(this.data, "lots", lots);
          this.$db
            .collection("sessions")
            .orderBy("time_start", "desc")
            .get({ keys: true })
            .then((sessions) => {
              this.$set(this.data, "sessions", sessions);
            });
        });
    },

    getActiveSlotCount(lot) {
      const slots = lot.data.slots;
      let count = 0;
      slots.forEach((slot) => {
        if (slot.license) {
          count++;
        }
      });
      return count;
    },

    randomize() {
      this.input.lot.form.name = this.$random.name();
      this.input.lot.form.slot = Math.round(Math.random() * 20) + 20;
    },

    register() {
      let data = {
        name: this.input.lot.form.name,
        slots: [],
      };
      for (let index = 0; index < this.input.lot.form.slot; index++) {
        data.slots.push({
          color: null,
          license: null,
        });
      }
      this.$db
        .collection("lots")
        .add(data)
        .then((addRes) => {
          this.closeFormLot();
          if (addRes.success) {
            this.get();
          }
        });
    },

    setFilterColor(color) {
      this.$set(this.input.filter, "color", color);
    },

    setFilterLicense() {
      this.$set(this.input.filter, "license", this.input.license);
      this.closeFormLicense();
    },

    setFilterLot(lot) {
      this.$set(this.input.filter, "lot", lot);
    },
  },
};
</script>